<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>edit customer</h2>
<form th:action="@{/update}" method="post" th:object="${customer}">
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th colspan="2">action</th>
  </tr>
  </thead>
  <tbody>
<tr th:object="${customer}">
  <td><input type="text" th:field="*{id}" readonly></td>
  <td><input type="text" th:field="*{name}"></td>
  <td><input type="number" th:field="*{age}"></td>
</tr>
  </tbody>
  <button type="submit">update</button>
</table>
</form>

</body>
</html>